<template>
  <v-container
        fluid
        fill-height
      >
        <v-layout
          align-center
          justify-center
        >
          <v-flex
            xs12
            sm8
            md4
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Nueva Imagen</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-row > 
                    <v-col cols="12" sm="8">
                      <v-text-field label="Titulo" v-model="titulo" required></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field label="Descripción" v-model="descripcion" required></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-file-input accept="image/*" ref="myFiles" v-on:change="Subir_Imagen" label="Buscar Imagen"></v-file-input>
                    </v-col>
                    <v-col cols="12" >
                      <v-progress-linear v-model="porcentaje"></v-progress-linear>
                    </v-col>
                    <v-alert prominent v-if="error" type="error">
                      <v-row align="center">
                        <v-col class="grow">Problemas para subir la imagen</v-col>
                        <v-col class="shrink">
                          <v-btn>Volver a intentar</v-btn>
                        </v-col>
                      </v-row>
                    </v-alert>
                  </v-row>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn color="red darken-1" v-on:click="Cancelar" text>Cancelar</v-btn>
                <v-btn color="blue darken-1" v-if="porcentaje<100 || titulo.length==0 || descripcion.length==0" disabled text>Guardar</v-btn>
                <v-btn color="blue darken-1" v-else="porcentaje==100" text @click="Guardar_Nueva_Imagen">Guardar</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>

  
</template>

<script>
import firebase from 'firebase';
export default {
  data () {
    return {
      file:'',
      imagen:'',
      titulo:'',
      descripcion:'',
      porcentaje:0,
      error:false,
    }
  },
  methods:{
    Subir_Imagen(e){
      
      var file = e;
      this.porcentaje=15;
      const refStorage = firebase.storage().ref('imagenes/'+e.name)
      const task = refStorage.put(file)
      this.error=false;
      task.on(
        'state_changed',
        snapshot => {
          this.porcentaje = snapshot.bytesTransferred / snapshot.totalBytes * 100;
        },
        err => {
          this.error=true;
        },
        () => {
          task.snapshot.ref
            .getDownloadURL()
            .then(url => {
              this.imagen=url;
            })
            .catch(err => {
              this.error=true;
            })
        }
      )
    },
    Guardar_Nueva_Imagen(){
      if (this.imagen.length==0) {
        return;
      }
      this.db
      .collection('imagenes')
      .add({
        src: this.imagen,
        titulo: this.titulo,
        descripcion: this.descripcion,
        fecha:firebase.firestore.FieldValue.serverTimestamp()
      })
      .then(refDoc => {
        this.$router.push({name:'Carousel'});
        
      })
      .catch(error => {
        this.error=true;
      })
    },
    Cancelar(){
      this.$router.push({name:'Carousel'});
    }
  },
  computed:{
    db(){
      return this.$store.getters.get_db_firebase
    }
  }
};
</script>
