<template>
  <v-container >

    <v-row align="center" justify="center"> 
      
      <v-col cols="12" sm="12" id="col-carousel" class="text-center" @mouseover="cycle=true" @mouseleave="Comenzar_Al_Inicio">
          
          <v-progress-circular class="my-auto" v-if="cargando" :size="70" :width="7" color="purple" indeterminate
          ></v-progress-circular>   

          <v-carousel v-else hide-delimiters show-arrows-on-hover height="350" :cycle="cycle" :interval="interval">
            
            <v-carousel-item v-for="(imagen,i) in imagenes" :key="i">
            
              <v-card light class="mx-auto text-left" max-width="400">
            
                <v-img class="white--text" height="200px" :src="imagen.src">
                  <v-card-title class="align-end fill-height">{{imagen.titulo}}</v-card-title>
                </v-img>

                <v-card-text>
                  <span class="text--primary">{{imagen.descripcion}}</span>
                </v-card-text>

                <v-card-actions>
                  <v-btn text color="orange" :href="imagen.src" target="_blank">
                    Ver
                  </v-btn>
                  <v-btn text color="orange">
                    Like
                  </v-btn>
                </v-card-actions>

              </v-card>
            </v-carousel-item>
          </v-carousel>
        
      </v-col>

    </v-row>

    <v-row align="center" justify="center"> 
      <v-col cols="12" sm="3" class="text-center">
        <v-btn large color="primary" @click="Agregar_Foto">Agregar Foto</v-btn>
      </v-col>
    </v-row>

  </v-container>
</template>

<script>
import firebase from 'firebase';
export default {
  data () {
    return {
      cycle:false,
      interval:1200,
      imagenes:[],
      cargando:false
    }
  },
  methods:{
    Consultar(){
      this.cargando=true;
      this.imagenes=[];
      this.db.collection('imagenes')
      .orderBy('fecha','desc')
      .get()  
      .then(querySnapshot => {
        querySnapshot.forEach(imagen => {
          this.imagenes.push(imagen.data());
        });
        this.cargando=false;
      })
      .catch(error=>{
        this.cargando=false;
      });
    },
    Comenzar_Al_Inicio(){
      this.cycle=false;
      this.Consultar();
    },
    Agregar_Foto(){
      this.$router.push({name:'Agregar_Foto'});
    }
  },
  created(){
    this.Consultar();
  },
  computed:{
    db(){
      return this.$store.getters.get_db_firebase
    },
  }
};
</script>

<style>
  .container-carousel{
    height: 100% !important;
  }

  #col-carousel{
    height: 350px;
  }
</style>