<template>
  <v-app>
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>INNCOSYS</span>
        
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        text
        
      >
        <span class="mr-2">Slider</span>
      </v-btn>
    </v-app-bar>

    <v-content class=" mt-5">
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import {mapActions} from 'vuex';

export default {
  name: 'App',
  methods:{
    ...mapActions([
      'definir_db_firebase',
    ]),
  },
  data: () => ({
    
  }),
  created(){
    this.definir_db_firebase();
  },
  computed:{
    cargando(){
      return this.$store.getters.getCargando
    }
  }
};
</script>
